
/*---------------------------------------------------------------------------------------------- TOUT ----------------------------------------------------------------------------------------------------*/
#navbar
{
	color: white;
	background-color: #111;
	padding: 50px;
	transition: 0.4s;
	position: fixed;	
	width: 100%;
	top: 0;
	z-index: 99;
}

/*---------------------------------------------------*/
span:hover
{
	color: #F71818;
}

/*---------------------------------------------------*/
#logo
{
	float: right;
	font-size: 40px;
	transition: 0.4s;
}

#titre
{
	text-align: center;
	font-size: 35px;
	transition: 0.4s;
}

/*---------------------------------------------------*/
#page
{
	word-wrap: break-word;
}

/*---------------------------------------------------*/
.sidenav
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  word-wrap: normal;
}

.sidenav a
{
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover
{
  color: #F71818;
  text-decoration: none;
}

.sidenav .closebtn
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*---------------------------------------------------*/
#main
{
  transition: margin-left .5s;
}


/*---------------------------------------------------------------------------------------------- INDEX.PHP -----------------------------------------------------------------------------------------------*/
#intro
{
	text-align: center;
	background-color: white;
	color: #111;
	margin: auto;
	margin-top: 100px;
	width: 60%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*---------------------------------------------------*/
.detail
{
	margin-top: 60px;
}

.detail p
{
	color: #F71818;
}

.detail b
{
	color: black;
}

/*---------------------------------------------------*/
#cv
{
	text-align: center;
	background-color: white;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	width: 60%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cv p
{
	color: #F71818;
	text-align: left;
	margin-top: 30px;
	margin-left: 30px;
}

#cv b
{
	color: black;
}

#cv h3
{
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
}

/*---------------------------------------------------*/
#bts
{
	text-align: center;
	background-color: white;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	width: 60%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bts div
{
	color:  black;
	margin-top: 50px;
}

p1
{
	color: #F71818;
}

/*---------------------------------------------------*/
.button
{
	border-radius: 20px;
  background-color: white; 
  color: black; 
  border: 2px solid #F71818;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover
{
	background-color: #F71818;
	color: white;
}

.button2
{
	border-radius: 20px;
  background-color: #F71818;
  color: white;
  border: 2px solid #F71818;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2:hover
{
	background-color: white;
	color: black;
}

/*---------------------------------------------------------------------------------------------- PARCOURS.PHP --------------------------------------------------------------------------------------------*/
.button3
{
	border-radius: 20px;
  background-color: white; 
  color: black; 
  border: 2px solid #F71818;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3:hover
{
	background-color: #F71818;
	color: white;
}

/*---------------------------------------------------*/
#parcours
{
	transition: 0.4s;
	text-align: center;
	background-color: white;
	color: #111;
	margin: auto;
	margin-top: 150px;
	width: 100%;
	padding: 50px;
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
}


/*
#competence
{
	transition: 0.4s;
	text-align: center;
	background-color: white;
	color: #111;
	margin: auto;
	margin-top: 150px;
	width: 100%;
	padding: 50px;
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
}

#veille
{
	transition: 0.4s;
	text-align: center;
	background-color: white;
	color: #111;
	margin: auto;
	margin-top: 150px;
	width: 100%;
	padding: 50px;
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
}
*/
/*---------------------------------------------------*/
.diplome
{
	float: left;
	text-align: center;
	background-color: white;
	margin: auto;
	margin-left: 80px;
	margin-top: 100px;
	margin-bottom: 150px;
	width: 40%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.diplome h2
{
	padding-bottom: 50px;
}


/*---------------------------------------------------*/
.Bac
{
	padding-bottom: 50px;
}

.Bac i
{
	color: #F71818;
}

.Bac p
{
	font-size: 18.5px;
}

/*---------------------------------------------------*/
.diplome .Bac
{
	padding-bottom: 93.5px;
}

/*---------------------------------------------------*/
.stage
{
	float: right;
	text-align: center;
	background-color: white;
	margin: auto;
	margin-right: 80px;
	margin-top: 100px;
	margin-bottom: 150px;
	width: 40%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stage h2
{
	padding-bottom: 50px;
}


.stage2
{
	display: inline-block;
	text-align: center;
	background-color: white;
	margin-left: 300px;
	margin-bottom: 150px;
	width: 60%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stage2 h2
{
	padding-bottom: 50px;
}

/*---------------------------------------------------*/
.rapport p
{
	float: left;
}

.rapport a
{
	margin-left: 50px;
}

/*---------------------------------------------------------------------------------------------- COMPETENCE.PHP ------------------------------------------------------------------------------------------*/
.dev
{
	float: left;
	text-align: center;
	background-color: white;
	margin: auto;
	margin-left: 80px;
	margin-top: 100px;
	margin-bottom: 150px;
	width: 40%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*---------------------------------------------------*/
.checked
{
	color: #F71818;
}

/*---------------------------------------------------*/

.dev h2
{
	padding-bottom: 50px;
}

.dev .etoile
{
	padding-bottom: 56.5px;
}

.dev i
{
	color: #F71818;
	padding-bottom: 40px;
}

/*---------------------------------------------------*/
.autre
{
	float: right;
	text-align: center;
	background-color: white;
	margin: auto;
	margin-right: 80px;
	margin-top: 100px;
	margin-bottom: 150px;
	width: 40%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.autre .etoile
{
	padding-bottom: 40px;
}

.autre h2
{
	padding-bottom: 50px;
}

.autre i
{
	color: #F71818;
	padding-bottom: 40px;
}

/*---------------------------------------------------------------------------------------------- VEILLE.PHP ----------------------------------------------------------------------------------------------*/
.veille1
{
	text-align: center;
	background-color: white;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 150px;
	width: 60%;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.veille1 h2
{
	padding-bottom: 50px;
}



/*---------------------------------------------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------------------------------*/
@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*-------------------------------------------------------------------------------------------------------------------*/